.full-width {
  width: 100%;
}

.result-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.button-close {
  position: absolute;
  bottom: 0;
}

table {
  margin-top: 30px;
}

.no-margin {
  margin-top: 0px;
}

.bold {
  font-weight: bold;
}

.width-77 {
  width: 77%;
}