<h1>Calculateur de taxes</h1>

<mat-divider class="margin-30"></mat-divider>

<table mat-table [dataSource]="datas">
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element | description }}</td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
  </ng-container>

  <ng-container matColumnDef="unityPrice">
    <th mat-header-cell *matHeaderCellDef>Unity price</th>
    <td mat-cell *matCellDef="let element">{{ element.unityPrice }}€</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.type | type}}</td>
  </ng-container>

  <ng-container matColumnDef="imported">
    <th mat-header-cell *matHeaderCellDef>Imported</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [disabled]="true" [checked]="element.imported"></mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="flex-centered margin-30">
  <button mat-raised-button color="primary">Compute</button>
</div>
