<h1>Calculateur de taxes</h1>

<mat-divider class="margin-30"></mat-divider>

<table mat-table [dataSource]="datas!">
  <ng-container matColumnDef="description" [ngSwitch]="custom">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <ng-container *ngSwitchCase="false">
      <td mat-cell *matCellDef="let element">
        {{ element | description }}
      </td>
    </ng-container>
    <ng-container *ngSwitchCase="true">
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput (change)="updateField($event, element, 'description')" />
        </mat-form-field>
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="quantity" [ngSwitch]="custom">
    <th mat-header-cell *matHeaderCellDef>Quantité</th>
    <ng-container *ngSwitchCase="false">
      <td mat-cell *matCellDef="let element">
        {{ element.quantity }}
      </td>
    </ng-container>
    <ng-container *ngSwitchCase="true">
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-label>Quantité</mat-label>
          <input matInput (change)="updateField($event, element, 'quantity')" />
        </mat-form-field>
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="unityPrice" [ngSwitch]="custom">
    <th mat-header-cell *matHeaderCellDef>Prix à l'unité</th>
    <ng-container *ngSwitchCase="false">
      <td mat-cell *matCellDef="let element">
        {{ element.unityPrice }}
      </td>
    </ng-container>
    <ng-container *ngSwitchCase="true">
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-label>Prix à l'unité</mat-label>
          <input matInput  (change)="updateField($event, element, 'unityPrice')"  />
        </mat-form-field>
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="type" [ngSwitch]="custom">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <ng-container *ngSwitchCase="false">
      <td mat-cell *matCellDef="let element">
        {{ element.type | type }}
      </td>
    </ng-container>
    <ng-container *ngSwitchCase="true">
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="0" (click)="element.type = 0">🍔: Nourriture</mat-option>
            <mat-option value="1" (click)="element.type = 1">💊: Médicament</mat-option>
            <mat-option value="2" (click)="element.type = 2">📕: Livre</mat-option>
            <mat-option value="3" (click)="element.type = 3">❓: Autre</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="imported">
    <th mat-header-cell *matHeaderCellDef>Importé</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox
        [disabled]="!custom"
        [checked]="element.imported"
        (change)="element.imported = !element.imported"
      ></mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="flex-centered margin-30 spaced-around">
  <button
    *ngIf="custom"
    mat-raised-button
    (click)="addField()"
    color="secondary"
  >
    Ajouter un champ
  </button>
  <button
    mat-raised-button
    (click)="openDialog('1000ms', '500ms')"
    color="primary"
  >
    Calculer
  </button>
</div>
